@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-lavender: #F2EFF2, 
  --light-grey: #F5F6F6;
  --light-purple: #E0DAE4,
  --extralight-grey: #F8F9FA
  --light-cyan: #F3FAF4,
  --white: #FFFFFF
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
}

.shadow-messagebox {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shadow-btn {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.2);
}

.shadow-heading {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.bg-lavender {
  background-color: var(--light-lavender);
}

.bg-grey {
  background-color: var(--light-grey);
}

.bg-purple {
  background-color: var(--light-purple);
}

.bg-lightgrey {
  background-color: var(--extralight-grey);
}

.bg-cyan {
  background-color: var(--light-cyan);
}

.message-right  {
  align-self: end;
}

.message-right > .message {
  background-color: #ccc;
}

.message-right > .time {
  align-self: end;
}

.message-left {
  align-self: start;
}

.message-left > .message {
  background-color: #E8ECEF;
}

.message-left > .time {
  align-self: start;
  padding-left: 10px;
}

.chatbox-content {
  -ms-overflow-style: none; 
    /* scrollbar-width: none;  */
    /* scroll-behavior: smooth; */
    scroll-snap-type: y mandatory;
}

.chat-list {
  -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}